<mat-toolbar color="primary">
  <h1 class="pt-logo"><img src="../assets/poketeams-logo.png" alt="PokeTeams"></h1>

  <button mat-icon-button [matMenuTriggerFor]="mainMenu">
    <mat-icon aria-label="Main Menu">menu</mat-icon>
    <mat-menu #mainMenu xPosition="before">
      <button mat-menu-item routerLink="/">Search</button>
      <button mat-menu-item routerLink="/teams">Teams</button>
    </mat-menu>
  </button>
</mat-toolbar>
<div class="pt-main-container">
  <router-outlet></router-outlet>
</div>
